/* Font families */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* To run tailwind: npm run tailwind */

.icon_filter {
    transform: rotate(180deg);
    transition: transform 0.15s ease;
}

.icon_open {
    transform: rotate(0deg);
}